.macondo-swash-caps-regular {
    font-family: "Macondo Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .amarante-regular {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
  }

  .merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }

body {
    margin: 0;
    min-height: 100vh; /* Allows the page to grow with content */
    display: flex;
    flex-direction: column;
    color: white;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('rivertooth-band.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: 60px 0 0 0;
    position: relative;
    aspect-ratio: 3938 / 2630;
}


#bio {
    padding: 80px;
    background-color: #FFFBDB;
    color: #333;
}

#mailingList {
    padding: 80px;
}

.container {
    display: flex;
    flex-direction: column;
}

.section-dark {
    background-color: #193235;
    color: white;
}

.squares-container {
    margin: auto;
    display: flex;
    margin-bottom: 16px;
}

.square {
    height: 16px;
    width: 16px;
    border-radius: 2px;
}

.sq-1 {
    background-color: #EDE05A;
}

.sq-2 {
    background-color: #C5DFF3;
    margin-left: 8px;    
}

.sq-3 {
    background-color: #B0B97F;
    margin-left: 8px;
}

#bio .container, #mailingList .container {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
}

#bio h2, #mailingList h2 {
    font-size: 32px;
    margin-bottom: 32px;
}

#bio p, #mailingList p {
    font-size: 18px;
    line-height: 1.8;
    font-family: "Merriweather", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    margin: 0;
    letter-spacing: 2px;    
}

.hero {
    height: 360px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3.5rem; 
        letter-spacing: 1px; 
    }

    .hero {
        height: 225px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem; 
        letter-spacing: 0.5px; 
    }

    .hero {
        height: 180px;
    }
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    background-color: white;
    padding: 10px 0;
    z-index: 1000;
}

header.scrolled {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.95); /* Slight transparency for a softer effect */
}

nav ul {
    font-family: "Amarante", serif;
    font-weight: 300;
    font-style: light;
    list-style: none;
    margin: 0;
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 22px;
}

footer {
    font-size: 14px;
    padding: 40px;
    text-align: center;

    p {

        font-family: "Merriweather", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-shadow: 0px 2px 16px rgba(0, 0, 0, 1);
    }
        background-image: url('rug.png');
        background-size: contain;
        background-position: top;
}

#mc_embed_signup {
    background: none !important;
    font-size: 18px !important;
    line-height: 1.8 !important;
    font-family: "Merriweather", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 300 !important;
    font-style: normal !important;
    width: 100% !important;
    max-width: 480px !important;
    margin: auto;
}

.mc-field-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
}

input {
    padding: 8px;
    font-family: "Merriweather", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 300 !important;
}

label {
    margin-top: 16px;
    margin-bottom: 8px;
}

.foot {
    display:flex !important;
    margin-top: 24px !important;
    background-color: none !important;
    flex-direction: row-reverse;
}

#mc-embedded-subscribe {
    background-color: #E7A641 !important;
    height: 62px !important;
    font-family: "Amarante", serif !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    font-style: normal !important;
    color: white !important;
    outline: none !important;
    border-radius: 4px !important;
    border: 0px solid transparent !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4)!important;
    cursor: pointer !important;
    margin-right:0 !important;
}

.track-row {
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    margin-left: auto;
    margin-right: 120px;

    p {
        font-size: 22px !important;
        padding: 0;
        padding-right: 16px;
        margin: 0;
        font-family: "Amarante", serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
    }
}

@media (max-width: 768px) {
    .track-row {
        margin-right: auto;
        flex-direction: column;

        p {
            margin-bottom: 8px;
            padding-right: 0px;
        }
    }
    footer {
        background-size: cover;
    }
}

@media (max-width: 480px) {
    #bio, #mailingList {
        padding: 80px 32px;
    }
    footer {
        background-size: cover;
    }
}